<div class="wrapper m-auto" style="width: 50%;">
 
  <form action="/users/{{currentUser.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
  
    <div class="form-label-group">
      <label for="inputName">Name</label>
      <input type="text" name="name" class="form-control" placeholder="Name" value="{{currentUser.name}}">
    </div>
  
    <br />
    <div class="form-group">
      <label for="image">上傳個人照片</label>
      <input type="file" class="form-control-file" id="image" name="image">
    </div>
  
    <button class="btn btn-primary my-4" type="submit">Submit</button>
  </form>
</div>